[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.2"
graphene-django = "==2.15.0"
environs = "~=8.0.0"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.8"
